@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is Issue tracker done using .Net Core MVC and Entity Framework. <br/>
        Registering and loging is possible, but authorization is disabled.
    </p>
</div>
